@import '../../styles/colours.scss';

.home {
  display: flex;
  min-height: calc(100vh - 196px);
  justify-content: space-between;
  position: relative;
}

.leaflet-container {
  display: none;
}
  
.shops {
  padding: 2rem;
  width: 100%;
}

.toggle-map-button {
  bottom: 1rem;
  left: 42%;
  right: 50%;
  padding: 0 2rem;
  position: absolute;
  white-space: nowrap;
  z-index: 1000;
}

@media (min-width: 768px) {
  .home {
    min-height: calc(100vh - 100px);
  }
}

@media (min-width: 1128px) {
  .shops {
    max-width: 84rem;
    min-width: 54.7rem;
    width: auto;
  }

  .leaflet-container {
    display: block;
    flex-grow: 1;
  }
}